<%= form_tag("/themes/search",{method:"get"}) do %>
    <input name="saerch" value=<%="#{@search}"%> >
    <input type="submit" value="検索">
<%end%>

<h1>テーマ</h1>
<div class="index-themes-all">
    <% @themes.each do |theme| %>
        <div class="index-theme">
            <%= link_to(theme.name,"/themes/#{theme.id}/show") %>

            <% if ThemeFollow.search_followtheme_data?(userid:@current_user.id,themeid:theme.id) %>
                <%= form_tag("/theme_follows/#{@current_user.id}/#{theme.id}/destroy") do %>
                    <input type="submit" value="フォローをやめる">
                    フォロワー数：<%= theme.followcount %>
                    投稿数：<%= theme.opinioncount %>
                <%end%>
            <%else%>
                <%= form_tag("/theme_follows/#{@current_user.id}/#{theme.id}/create") do %>
                    <input type="submit" value="フォローする">
                    フォロワー数：<%= theme.followcount %>
                    投稿数：<%= theme.opinioncount %>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>

